<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sjxm.mapper.CategoryMapper">

    <update id="updateCategory">
        update category
        <set>
            <if test="name!=null and name!=''">
                name = #{name},
            </if>
            <if test="homeShow!=null and homeShow!=''">
                homeShow = #{homeShow},
            </if>
        </set>
        where category_id = #{categoryId}
    </update>
</mapper>